# Ignore all node_modules
node_modules/*

# ...except the symlink to ourselves.
!node_modules/APP

# Compiled JS
public/bundle.js
public/bundle.js.map
public/assets/js/vendor/*.js
webpack.config.js
server/backend.test.js

# NPM errors
npm-debug.log
